<ion-pane>
    <ion-content ng-controller="homeController">
        <div class="bar bar-header">
            <div class="h1 title">Form</div>
        </div>
        <!-- <div class="content has-header ionic-pseudo">
            <div class="list">
                <div class="item item-divider">
                    Form List
                </div>
                <a class="item" href="#" ng-repeat="form in formList">
                    {{form.eprfFormName}}
                </a>
            </div>
        </div> -->
    </ion-content>
</ion-pane>